@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #3A474F;
}

.content {
    margin: 8%;
    background-color: #fff;
    padding: auto;
    border-radius: 0px;
    width: initial;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.05);
}

.signin-text {
    font-weight: 900 !important;
    text-align: center;
    margin: 20px;
}

.form-control {
    display: flexbox;
    width: calc(100%-20px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: grey;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 8px 10px;
    color: #495057;
    height: inherit;
    border-radius: 0;
    background-color: transparent;
    background-clip: padding-box;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

.btn-class {
    border-color: #00ac96;
    color: #00ac96;
    width: 100%;
    padding: 5px 0
}
